:root {
  --sidebar-width: 350px;
  --properties-height: 300px;
  --general-margin: 5px;

  --palette-1: #179e99;
  --palette-2: #1dadee;
  --palette-3: #7f4196;
  --palette-4: #29dfd7;
  --palette-5: #afd634;
  --palette-6: #fecb30;
  --palette-7: #df5290;
  --palette-8: #fd7430;
}

body {
  margin: 0;

  background-color: #f0f0f0;
}

.builder {
  align-items: Stretch;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  max-width: 100%;
}

.builder__main-area {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--sidebar-width));
  margin: var(--general-margin);
  margin-left: 0;

}

.builder__main-area__map {
  flex-grow: 1;
  flex-shrink: 0;
  height: calc(100% - var(--properties-height) - var(--general-margin) * 2);
  width: 100%;

  box-shadow: 0px 0px 25px 2px #bbb;
}

.builder__main-area__properties {
  height: calc( var(--properties-height) - var(--general-margin) * 2);
  margin-top: var(--general-margin);
  width: 100%;

  background-color: #fff;
  box-shadow: 0px 0px 25px 2px #bbb;
}

.builder__main-area__properties:empty {
  content: 'Select a layer to edit its properties';
}

.builder__sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  width: var(--sidebar-width);
  margin: var(--general-margin);
  max-height: calc(100vh - var(--general-margin) * 2);
  overflow: auto;

  background-color: #fff;
  box-shadow: 0px 0px 25px 2px #bbb;
}

.color-picker {
  display: flex;
}

.color-picker__option:not(:last-child) {
  padding-right: 2px;
}

.color-picker__option__color {
  border-radius: 25px;
  height: 25px;
  width: 25px;
}

.item-list {
  margin: 0;
  padding: 5px;

  list-style-type: none;
}

.item-list__item {
  border: 1px solid #f0f0f0;
  margin: 3px 0;
  padding: 5px;

  border-radius: 4px;
  color: #333;
  cursor: pointer;
}

.item-list__item:hover,
.item-list__item--is-selected {
  background-color: #23bca9;
}

.sidebar {
  display: flex;
  flex-direction: column;

  max-height: calc( 100vh - var(--general-margin) * 2);
}

.sidebar__element--has-list {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.sidebar__element--is-fixed {
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 5px;
}

.button-list {
  display: flex;
  align-items: space-around;
}

.button-list__button {
  flex-grow: 1;
}


.button-list__button + .button-list__button {
  margin-right: 3px;
}

.button:hover {
  opacity: 0.9;
}

.button {
  border: 1px solid #f0f0f0;
  padding: 10px 0;

  background-color: #f44034;
  color: #fff;
  cursor: pointer;
}
.button--is-secondary {
  background-color: white;
  color: #333;
  border: 0 none;
}
