:root {
  --sidebar-width: 20%;
  --properties-height: 300px;
  --general-margin: 30px;
}

body {
  margin: 0;

  background-color: #f0f0f0;
}

.builder {
  align-items: Stretch;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  max-width: 100%;
}

.builder__main-area {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--sidebar-width));
  margin: var(--general-margin);
  margin-left: 0;

}

.builder__main-area__map {
  flex-grow: 1;
  flex-shrink: 0;
  height: calc(100% - var(--properties-height) - var(--general-margin) * 2);
  width: 100%;

  box-shadow: 0px 0px 25px 2px #bbb;
}

.builder__main-area__properties {
  height: calc( var(--properties-height) - var(--general-margin) * 2);
  margin-top: var(--general-margin);
  width: 100%;

  background-color: #fff;
  box-shadow: 0px 0px 25px 2px #bbb;
}

.builder__main-area__properties:empty {
  content: 'Select a layer to edit its properties';
}

.builder__sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  width: var(--sidebar-width);
  margin: var(--general-margin);
  max-height: calc(100vh - var(--general-margin) * 2);
  overflow: auto;

  background-color: #fff;
  box-shadow: 0px 0px 25px 2px #bbb;
}
